<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>RAISEC SURVEY</title>
    <link rel="stylesheet" href="{% static 'css/survey.css' %}">
    
</head>
<body>
	<header>
		<div id="logo"><img  src="{% static 'img/Logo.png'%}" style="width: 10%; height: 10%;" ></div>
		
		
	</header>
	
    <div class="slider">
		<form class="form" action="" method="post">
		<!-- fade css -->
		{% csrf_token %}
	<!---->	
	{% for question in questions %}
		<div class="myslide fade">
			<div class="txt">
				<br>
				<img class="img" src = "{{question.icon.url}}">
				<p> {{question.question}}</p>
				
				<br>
				<input id="{{question.id}}" onclick="plusSlides(1)" type='radio' name="{{question.id}}" value="{{question.category}}">
				<label for="{{question.id}}" class="label">&nbsp;&nbsp;&nbsp;&nbsp;Yes&nbsp;&nbsp;&nbsp;&nbsp;</label>
				
				<input id="{{question.id}}1" onclick="plusSlides(1)" type='radio' name="{{question.id}}" value="no">
				<label for="{{question.id}}1">&nbsp;&nbsp;&nbsp;&nbsp;No&nbsp;&nbsp;&nbsp;&nbsp;</label>
				<br><br>
				
				
				
				
			</div>
			<img class="BG" src="{{question.img.url}}" >
		</div>
		{% endfor %}
			
		
		
	
        <div class="myslide fade">
			<div class="txt">
				
				<p>You finished all the questions</p>
				
				
				<input type="submit" class="btn" value="see the result">
				
				
				
				
			</div>
			<img src="{% static 'img/Background.jpg'%}" style="width: 100%; height: 100%;">
		</div>
		
	</div>
	
<script src="{% static 'js/jsfile.js' %}"></script>
</body>
</html>


