<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>RAISEC SURVEY</title>
    <link rel="stylesheet" href="{% static 'css/cssfile.css' %}">
    
</head>
<body>
	<header>
		<div id="logo">EYouth <span id="logo-s">Career guide</span></div>
		<span class="sign"><a class="act" href="#">RAISEC Test</a></span>
		
	</header>
	
    <div class="slider">
		<form class="form" action="" method="post">
		<!-- fade css -->
		{% csrf_token %}
		
	{% for question in questions %}
		<div class="myslide fade">
			<div class="txt">
				<br>
				<img class="img" src = "{{question.icon.url}}">
				<p> {{question.question}}</p>
				
				<br>
				<input id="{{question.id}}" onclick="plusSlides(1)" type='radio' name="{{question.id}}" value="{{question.category}}">
				<label for="{{question.id}}" class="label">&nbsp;&nbsp;&nbsp;&nbsp;Yes&nbsp;&nbsp;&nbsp;&nbsp;</label>
			
				<input id="{{question.id}}1" onclick="plusSlides(1)" type='radio' name="{{question.id}}" value="no">
				<label for="{{question.id}}1">&nbsp;&nbsp;&nbsp;&nbsp;No&nbsp;&nbsp;&nbsp;&nbsp;</label>
				<br><br>
				
				
				
				
			</div>
			<img src="{{question.img.url}}" style="width: 100%; height: 150%; object-fit:cover;">
		</div>
		{% endfor %}
			
		
		
	
        <div class="myslide fade">
			<div class="txt">
				
				<p>You finished all the questions</p>
				
				
				<input type="submit" class="btn" value="see the result">
				
				
				
				
			</div>
			<img src="{% static 'img/Background.jpg'%}" style="width: 100%; height: 100%;">
		</div>
		
		
		<!-- /fade css -->
		
		<!-- onclick js -->
		
  		
		
	</form>
		<!-- /onclick js -->
	</div>
	
<script src="{% static 'js/jsfile.js' %}"></script>
</body>
</html>


