<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="form" action="" method="post">
		<!-- fade css -->
		{% csrf_token %}
		<div class="myslide fade">
			<div class="txt">
				
				<p>What is the question one ?</p>
				
				
				<input id="yes" type='radio' name="result" value="yes">
				<label for="yes">Yes</label>
				<br> 
				<input id="no" type='radio' name="result" value="no">
				<label for="no">No</label>
				<br>
				
				
				
			</div>
		
		</div>
		
		<div class="myslide fade">
			<div class="txt">
				
				<p>What is the question one ?</p>
				
				
				<input id="yes" type='radio' name="Question1" value="yes">
				<label for="yes">Yes</label>
				<br> 
				<input id="no" type='radio' name="Question1" value="no">
				<label for="no">No</label>
				<br>
				
				
				
			</div>
</body>
</html>